*{
  margin: 0px;
  padding: 0px;
}
.hcon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
ul{
  display: flex;
  gap: 3rem;
}
.maint{
  color: #F4CE14;
}
.mainp1, .mainp2{
  color: #EDEFEE;
  margin-top: 3px;
}
.mainp2{
  margin-bottom: 5px;
}
.hsec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 18em;
  align-items: center;
  background-color: #495E57;
  height: 240px;
}
.reserve{
  padding: 2px 10px;
  background-color: #F4CE14;
  color: black;
  border-radius: 5px;
  text-decoration-line: none
}
.main1{
  margin-top: 10px;
  border-radius: 10px;
}
.specials{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
  gap: 22em;
}
.specials a{
  padding: 2px 10px;
  background-color: #F4CE14;
  color: black;
  border-radius: 5px;
  text-decoration-line: none
}
.meals{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.meals section{
  background-color: rgb(210, 216, 221);
}